{% extends "base.html" %}
{% load staticfiles sekizai_tags require %}

{% block content %}

{% addtoblock "css" %}
<style type="text/css" media="screen">
</style>
<link rel="stylesheet" href="{% static 'css/snippets.css' %}">
{% endaddtoblock %}

<div id="editor"></div>

<div id="loading-spinner">
    <p>Insert Spinner Here</p>
</div>

<div id="display-url"></div>
<div id="lang-selector">
    <select name="language">
        <option value="text">Text</option>
    </select>
</div>
    
{% addtoblock "js" %}
{% require_module "snippet_create" %}
{% endaddtoblock %}

{% endblock %}
