{% extends "base.html" %}
{% load staticfiles sekizai_tags require %}

{% block body_class %}snippet-create {% endblock %}

{% block left-nav %}
<div id="display-url">
    <p class="navbar-text">Paste something to get started</p>
</div>
{% endblock %}
{% block right-nav %}
<ul class="nav pull-right">
    <li>
    <a id="loading-spinner" href="#"><i class='icon-spinner icon-spin icon-large'></i></a>
    </li>
    <li>
    <a id="error-icon" href="#"><i class='icon-warning-sign icon-large'></i></a>
    </li>
    <li>
    <form id="lang-selector" class="navbar-form">
        <select name="language">
            <option value="text">Text</option>
        </select>
    </form>
    </li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url "about" %}">About</a></li>
        <li><a href="{% url "terms" %}">Terms</a></li>
        <li><a href="{% url "privacy" %}">Privacy</a></li>
    </ul>
    </li>
</ul>
{% endblock %}

{% block content %}


{% addtoblock "css" %}
<style type="text/css" media="screen">
</style>
<link rel="stylesheet" href="{% static 'css/snippets.css' %}">
{% endaddtoblock %}

<div id="welcome-message">
    {% include "content/_welcome.html" %}
</div>

<div id="editor"></div>

{% endblock %}

{% block require_js %}
{% require_module "snippet_create" %}
{% endblock %}
