{% extends "base.html" %}
{% load staticfiles sekizai_tags require %}



{% block left-nav %}
<ul class="nav">
<li>
<p class="navbar-text" id="lang-label">Language:&nbsp;</p>
</li>
<li>
<p class="navbar-text" id="lang-display">{{ snippet.language }}</p>
</li>
</ul>
{% endblock %}
{% block right-nav %}
<ul class="nav pull-right">
    <li>
    <p class="navbar-text" id="created-label">Created:&nbsp;</p>
    </li>
    <li>
    <p class="navbar-text" id="created-display">{{ snippet.created }}</p>
    </li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url "terms" %}">Terms</a></li>
        <li><a href="{% url "privacy" %}">Privacy</a></li>
    </ul>
    </li>
</ul>
{% endblock %}



{% block content %}

{% addtoblock "css" %}
<style type="text/css" media="screen">
</style>
<link rel="stylesheet" href="{% static 'css/snippets.css' %}">
{% endaddtoblock %}

<div id="editor">{{ snippet.content }}</div>

{% endblock %}

{% block require_js %}
{% require_module "snippet_create" %}
{% endblock %}
