{% extends "base.html" %}
{% load staticfiles sekizai_tags require %}



{% block left-nav %}
<ul class="nav">
<li>
<p class="navbar-text" id="lang-display">{{ snippet.language }}</p>
</li>
</ul>
{% endblock %}
{% block right-nav %}
<ul class="nav pull-right">
    <li>
    <p class="navbar-text" id="created-display">Created: {{ snippet.created }}</p>
    </li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
    </ul>
    </li>
</ul>
{% endblock %}



{% block content %}

{% addtoblock "css" %}
<style type="text/css" media="screen">
</style>
<link rel="stylesheet" href="{% static 'css/snippets.css' %}">
{% endaddtoblock %}

<div id="editor">{{ snippet.content }}</div>

{% addtoblock "js" %}
{% require_module "snippet_retrieve" %}
{% endaddtoblock %}

{% endblock %}
