<h3>Paste away!</h3>
<p>
Pasterly is a paste bin site I made because I couldn't find any that 
did it quite right.  It generates a snippet URL as you type, and uses the ACE 
code editor to provide IDE-quality code editing on the fly.  I don't think 
either of these things are that big of a deal, but I didn't see anyone else 
doing it.  Please give it a try and tell me what you think!  There's plenty of 
things to do before it's full-featured, so be sure to tell me what you want to 
see first.  It's sort of my own little weekend UX experiment.  The 
source is available <a href="https://github.com/axelmagn/simply-paste">here</a> 
if you'd care to browse it, report bugs, or request features.
</p>

<p>
Since this uses the browser-based ACE editor, syntax highlighters for some
systems languages (*cough* C *cough*) are missing.
</p>
