{% extends "base_span.html" %}

{% block content-span %}
<h1>Privacy Policy</h1>
<p>
We share your browsing activity with Google for both analytics and advertising
purposes.  Any information you paste here can be accessed by anyone who knows
the url, so it's not very private.  If enough people ask for it, We
will look into obfuscating the paste id's so that they aren't just sequential
integers.  Honestly, it's a paste bin. You're not giving us much info in the
first place, and what you give us is intentionally public.  We make absolutely 
no guarantee to the privacy of any information collected by this site, so if 
that's a problem you probably shouldn't use it.
</p>
{% endblock %}
