{% extends "base_span.html" %}

{% block content-span %}
<h1>Terms of Use</h1>
<p>
Neither Pasterly (The Site), AxelMagn LLC, nor Axel Magnuson (The Creator) make any 
warranty regarding your use of this site or the content it contains. None of the
above parties shall be held accountable for the accuracy of the content here nor
damage done regarding how people use the content.  Furthermore, the content
hosted here may be deleted at any time for any reason.
</p>
<p>
You are responsible and liable for the things you paste and you agree not to:
<ul>
    <li>Harass, threaten, or slander anyone.</li>
    <li>Violate any U.S. law.</li>
    <li>
    Paste anything you have been told not to paste by the owners of the Site.
    </li>
</ul>
</p>
<p>
You accept all risk and liability of using this site.  The Site and the
Creator are not responsible for your usage choices.  We reserve the right to
remove any paste for any reason.
</p>
{% endblock %}
