#editor { 
    position: absolute;
    top: 42px;
    left: 380px;
    bottom: 0;
    right: 0;
    background-color: #2F3129;
    color: #CDCECA;
}

body.snippet-create #editor { 
    position: absolute;
    top: 42px;
    left: 380px;
    bottom: 0;
    right: 0;
    background-color: #2F3129;
    color: #CDCECA;
}

body.snippet-retrieve #editor {
    position: absolute;
    top: 42px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2F3129;
    color: #CDCECA;
}


#welcome-message {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    width: 300px;
    padding: 40px;
    background-color: #2F3129;
    color: #CDCECA;
}

#display-url {
    display: inline-block;
}

#display-url>form.navbar-form>input {
    padding: inherit 15px;
    margin-left: 30px;
}

html, body, #editor {
    margin: 0;
    padding: 0;
}

